<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POUDP_Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E59747B61F95BB480022B24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59747CF1F95BB480022B24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59747DA1F95BB480022B24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
